flows/ASL_Delete_Designation_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Total_Credits_and_Debits</name>
        <label>Total Credits and Debits</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>creditTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Txn_Journals.CreditAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debitTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Txn_Journals.DebitAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Txn_Journals</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>netDebitsCredits</name>
        <dataType>Currency</dataType>
        <expression>{!creditTotal}-{!debitTotal}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>*ASL Delete Designation v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*ASL Delete Designation v2</label>
    <loops>
        <name>Loop_Txn_Journals</name>
        <label>Loop Txn Journals</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Txn_Journals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Credits_and_Debits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reversal_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reversal_Entry</name>
        <label>Create Reversal Entry</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeneralLedgerCode</field>
            <value>
                <elementReference>$Record.GiftDesignation.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalReason</field>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Journal_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>$Record.GiftTransaction.PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryRecordIdValue</field>
            <value>
                <elementReference>$Record.GiftTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionAmount</field>
            <value>
                <elementReference>netDebitsCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_Types</name>
        <label>Get Journal Types</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Txn_Journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Txn_Journals</name>
        <label>Get Txn Journals</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Txn_Journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryRecordIdValue</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftTransactionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GeneralLedgerCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftDesignation.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal_Types</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.GiftTransaction.Status},&quot;Paid&quot;)</filterFormula>
        <object>GiftTransactionDesignation</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>creditTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>debitTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
