flows/ASL_Adjustment_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_TJ_Variable</name>
        <label>Assign to TJ Variable</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>txnRecord.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.TransactionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txnJournalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.JournalReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditOrDebit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.PaymentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.PrimaryRecordIdValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.IsAdjustmentJournalEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.GeneralLedgerCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftDesignation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftTransaction.PaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txnRecord.JournalTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journal_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TJ_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>amountDelta</name>
        <dataType>Currency</dataType>
        <expression>IF(AND(ISNEW(),NOT({!$Record.GiftDesignation.IsDefault})),{!$Record.Amount},
IF(AND(ISNEW(),{!$Record.GiftDesignation.IsDefault}),{!$Record.Amount},
{!$Record__Prior.Amount}-{!$Record.Amount}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>creditOrDebit</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISNEW(),{!$Record.GiftDesignation.IsDefault},{!amountDelta}&lt;0),&quot;Debit&quot;,
IF(AND(ISNEW(),{!$Record.GiftDesignation.IsDefault},{!amountDelta}&gt;0),&quot;Credit&quot;,
IF(ISNEW(),&quot;Credit&quot;,
IF({!amountDelta}&lt;0,&quot;Credit&quot;,&quot;Debit&quot;))))</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>txnJournalAmount</name>
        <dataType>Currency</dataType>
        <expression>ABS({!amountDelta})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>*ASL Adjustment v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*ASL Adjustment v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TJ_Record</name>
        <label>Create TJ Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>txnRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_Types</name>
        <label>Get Journal Types</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_TJ_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal_Types</targetReference>
        </connector>
        <filterFormula>AND(OR(
ISNEW(),
ISCHANGED({!$Record.Amount})),ISPICKVAL({!$Record.GiftTransaction.Status},&quot;Paid&quot;))</filterFormula>
        <object>GiftTransactionDesignation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>amtdeltacheck</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>creditdebitcheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultcheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isnewcheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txnRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
