flows/ASL_Trigger_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_credit_Variable_to_txnCollection</name>
        <label>Add credit Variable to txnCollection</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>txnCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>credit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Gift_Designations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_debit_Variable_to_txnCollection</name>
        <label>Add debit Variable to txnCollection</label>
        <locationX>158</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>txnCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>debit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TJ_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Allocation_JT_Id_to_Variable</name>
        <label>Assign Allocation JT Id to Variable</label>
        <locationX>246</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>allocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Journal_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Journal_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Variable</name>
        <label>Assign Credit Variable</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>credit.PrimaryRecordIdValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.GeneralLedgerCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Gift_Designations.GiftDesignation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.PaymentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.JournalTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.TransactionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Gift_Designations.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.JournalReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>credit.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_credit_Variable_to_txnCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debit_Variable</name>
        <label>Assign Debit Variable</label>
        <locationX>158</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>debit.PrimaryRecordIdValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.GeneralLedgerCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.PaymentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.JournalTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.TransactionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.JournalReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debit.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Transaction_Designation_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_JT_Id_to_Variable</name>
        <label>Assign Payment JT Id to Variable</label>
        <locationX>774</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>paymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Journal_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Journal_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_JT_Id_to_Variable</name>
        <label>Assign Transaction JT Id to Variable</label>
        <locationX>510</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>transactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Journal_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Journal_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Gift_Transaction_Designation_Exists</name>
        <label>Gift Transaction Designation Exists</label>
        <locationX>158</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Create_Default_Gift_Txn_Designation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GT_Designations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Gift_Designations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Journal_Type</name>
        <label>Journal Type</label>
        <locationX>510</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Payment_JT_Id_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment</defaultConnectorLabel>
        <rules>
            <name>Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Journal_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Allocation_JT_Id_to_Variable</targetReference>
            </connector>
            <label>Allocation</label>
        </rules>
        <rules>
            <name>Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Journal_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transaction_JT_Id_to_Variable</targetReference>
            </connector>
            <label>Transaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaidorRefunded</name>
        <label>PaidorRefunded</label>
        <locationX>388</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Transaction_Journals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fully Refunded</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Gift_Designation</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreditDebitFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!LoopTJs.JournalReason},  &quot;Credit&quot;), &quot;Debit&quot;, &quot;Credit&quot;)</expression>
    </formulas>
    <interviewLabel>*ASL Trigger v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*ASL Trigger v2</label>
    <loops>
        <name>Loop_Gift_Designations</name>
        <label>Loop Gift Designations</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_GT_Designations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Credit_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_debit_Variable_to_txnCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Journal_Types</name>
        <label>Loop Journal Types</label>
        <locationX>158</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_ASL_Journal_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Journal_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Debit_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTJs</name>
        <label>LoopTJs</label>
        <locationX>618</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Transaction_Journals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateDuplicateTJ</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Default_Gift_Txn_Designation</name>
        <label>Create Default Gift Txn Designation</label>
        <locationX>266</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Add_debit_Variable_to_txnCollection</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftDesignationId</field>
            <value>
                <elementReference>Get_Default_Gift_Designation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftTransactionId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TJ_Records</name>
        <label>Create TJ Records</label>
        <locationX>158</locationX>
        <locationY>2063</locationY>
        <inputReference>txnCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateDuplicateTJ</name>
        <label>CreateDuplicateTJ</label>
        <locationX>706</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>LoopTJs</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeneralLedgerCode</field>
            <value>
                <elementReference>LoopTJs.GeneralLedgerCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalReason</field>
            <value>
                <elementReference>CreditDebitFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>LoopTJs.JournalTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>LoopTJs.PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryRecordIdValue</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionAmount</field>
            <value>
                <elementReference>LoopTJs.TransactionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ASL_Journal_Types</name>
        <label>Get ASL Journal Types</label>
        <locationX>158</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Journal_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountingSubledger</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Gift_Designation</name>
        <label>Get Default Gift Designation</label>
        <locationX>158</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GT_Designations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GT_Designations</name>
        <label>Get GT Designations</label>
        <locationX>158</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ASL_Journal_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Journals</name>
        <label>Get Transaction Journals</label>
        <locationX>618</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTJs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryRecordIdValue</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>262</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PaidorRefunded</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(), AND(ISCHANGED({!$Record.Status}),  OR(ISPICKVAL({!$Record.Status}, &quot;Paid&quot;), ISPICKVAL({!$Record.Status}, &quot;Fully Refunded&quot;))))</filterFormula>
        <object>GiftTransaction</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>credit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>debit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txnCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
