flows/Attendance_Benefit_Session_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Disbursements_to_Benefit_Session</name>
        <label>Add Disbursements to Benefit Session</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>benefitSession.Number_of_Attended_Benefit_Disbursements__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>attendedDisbursements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitSession.Number_of_Absent_Benefit_Disbursements__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>absentDisbursements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Benefit_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Variables</name>
        <label>Assign Count Variables</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>absentDisbursements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Absent_Disbursements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attendedDisbursements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attended_Disbursements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Disbursements_to_Benefit_Session</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Attendance Benefit Session Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendance Benefit Session Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Absent_Disbursements</name>
        <label>Get Absent Disbursements</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_Variables</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>BenefitSessionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitSession.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Excused Absent</stringValue>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unexcused Absent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attended_Disbursements</name>
        <label>Get Attended Disbursements</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Absent_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitSessionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitSession.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Benefit_Session</name>
        <label>Update Benefit Session</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>benefitSession</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attended_Disbursements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>absentDisbursements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>attendedDisbursements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>benefitSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
</Flow>
