flows/Attendance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Benefit_Session_Attendance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>BenefitSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Benefit_Attendance</name>
        <label>Calculate Benefit Attendance</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Calculate_Program_Enrollment_Attendance</targetReference>
        </connector>
        <flowName>Attendance_Benefit_Subflow</flowName>
        <inputAssignments>
            <name>absentDisbursements</name>
            <value>
                <elementReference>Calculate_Benefit_Session_Attendance.absentDisbursements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>attendedDisbursements</name>
            <value>
                <elementReference>Calculate_Benefit_Session_Attendance.attendedDisbursements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>benefitId</name>
            <value>
                <elementReference>$Record.BenefitSchedule.BenefitId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Benefit_Schedule_Attendance</name>
        <label>Calculate Benefit Schedule Attendance</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Calculate_Benefit_Attendance</targetReference>
        </connector>
        <flowName>Attendance_Benefit_Schedule_Subflow</flowName>
        <inputAssignments>
            <name>benefitScheduleId</name>
            <value>
                <elementReference>$Record.BenefitScheduleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionAbsent</name>
            <value>
                <elementReference>Calculate_Benefit_Session_Attendance.absentDisbursements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionAttended</name>
            <value>
                <elementReference>Calculate_Benefit_Session_Attendance.attendedDisbursements</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calculate_Benefit_Session_Attendance</name>
        <label>Calculate Benefit Session Attendance</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Calculate_Benefit_Schedule_Attendance</targetReference>
        </connector>
        <flowName>Attendance_Benefit_Session_Subflow</flowName>
        <inputAssignments>
            <name>benefitSession</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calculate_Program_Enrollment_Attendance</name>
        <label>Calculate Program Enrollment Attendance</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <flowName>Attendance_Program_Enrollment_Subflow</flowName>
        <inputAssignments>
            <name>benefitSession</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
