flows/Attendance_Benefit_Schedule_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Disbursements</name>
        <label>Add New Disbursements</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_Benefit_Schedule.Number_of_Absent_Benefit_Disbursements__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sessionAbsent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Benefit_Schedule.Number_of_Attended_Benefit_Disbursements__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sessionAttended</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Benefit_Schedule</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Attendance Benefit Schedule Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendance Benefit Schedule Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Benefit_Schedule</name>
        <label>Get Benefit Schedule</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_New_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Benefit_Schedule</name>
        <label>Update Benefit Schedule</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Get_Benefit_Schedule</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Benefit_Schedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>benefitScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleAbsent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Benefit_Schedule.Number_of_Absent_Benefit_Disbursements__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>scheduleAttended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Benefit_Schedule.Number_of_Attended_Benefit_Disbursements__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sessionAbsent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sessionAttended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
