flows/Create_Employer_Matching_Gift.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_match_details</name>
        <label>Capture match details</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Create_matching_opportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchOpportunityID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_matching_gift_details_back_to_employee_oppty</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MatchName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate Match</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_employer_have_matching_gift_program</name>
        <label>Does employer have matching gift program?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_account_details.Has_Matching_Gift_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_matching_opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates a matching gift on the employer&apos;s account</description>
    <environments>Default</environments>
    <formulas>
        <description>Calcs match amount to respect max match amount on employer account</description>
        <name>MatchAmount</name>
        <dataType>Currency</dataType>
        <expression>IF ( {!$Record.Amount} &gt;= {!Get_employer_account_details.Max_Matching_Gift_Amount__c}, {!Get_employer_account_details.Max_Matching_Gift_Amount__c}, {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MatchCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 90</expression>
    </formulas>
    <interviewLabel>***Create Employer Matching Gift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>***Create Employer Matching Gift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a matching gift opportunity</description>
        <name>Create_matching_opportunity</name>
        <label>Create matching opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Capture_match_details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_employer_account_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>MatchAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>MatchCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MatchName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Ho0000002IwzIAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - Solicitation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets matching gift program details from the employer account record</description>
        <name>Get_employer_account_details</name>
        <label>Get employer account details</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_employer_have_matching_gift_program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.null__NotFound.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the employee opportunity with details from the matching opportunity</description>
        <name>Write_matching_gift_details_back_to_employee_oppty</name>
        <label>Write matching gift details back to employee oppty</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Get_employer_account_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Create_matching_opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_employer_account_details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>MatchOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
