flows/Fundraising_Agent_Add_Interaction_Summary.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddNotes.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNotes.MeetingNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotesText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNotes.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileUpload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNotes.NextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSteps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interaction_Summary</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fundraising Agent: Add Interaction Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fundraising Agent: Add Interaction Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interaction_Summary</name>
        <label>Create Interaction Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AddNotes</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddNotes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InteractionSummary</objectType>
    </variables>
    <variables>
        <name>MobileUpload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
