flows/Fundraising_Agent_Next_Best_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Brian_s_Magic_Formatting</name>
        <label>Brian&apos;s Magic Formatting1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Brian_s_Magic_Formatting2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>GiftTransaction</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Gift_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>GiftJson</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Brian_s_Magic_Formatting2</name>
        <label>Brian&apos;s Magic Formatting2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Brian_s_Magic_Formatting3</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>DonorGiftSummary</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Donor_Summary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>DonorSummaryJson</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Brian_s_Magic_Formatting3</name>
        <label>Brian&apos;s Magic Formatting3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fundraising_Agent_NBA</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ContactProfile</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Wealth_Info</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>WealthInfoJson</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fundraising_Agent_NBA</name>
        <label>Fundraising Agent: NBA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Fundraising_Agent_Next_Best_Action</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Gift_Details</name>
            <value>
                <elementReference>GiftJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Wealth_Information</name>
            <value>
                <elementReference>WealthInfoJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Donor_Giving_Summary</name>
            <value>
                <elementReference>DonorSummaryJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fundraising_Agent_Next_Best_Action</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>NBAOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Prospect Research NBA</description>
    <environments>Default</environments>
    <interviewLabel>Fundraising Agent: Next Best Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fundraising Agent: Next Best Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Campaign</name>
        <label>Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gift_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_Summary</name>
        <label>Get Donor Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wealth_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TotalGiftsAmount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>90000.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DonorGiftSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalGiftsAmount</queriedFields>
        <queriedFields>DonorId</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Id</queriedFields>
            <queriedFields>Name</queriedFields>
            <relatedObject>Account</relatedObject>
            <relationshipField>Donor</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Details</name>
        <label>Get Gift Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrentAmount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrentAmount</queriedFields>
        <queriedFields>DonorId</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Id</queriedFields>
            <queriedFields>Name</queriedFields>
            <relatedObject>Account</relatedObject>
            <relationshipField>Donor</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wealth_Info</name>
        <label>Get Wealth Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Brian_s_Magic_Formatting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OtherAssetsValue</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Income</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RealEstateValue</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactProfile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RealEstateValue</queriedFields>
        <queriedFields>OtherAssetsValue</queriedFields>
        <queriedFields>Income</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Id</queriedFields>
            <relatedObject>Contact</relatedObject>
            <relatedRecords>
                <getFirstRecordOnly>true</getFirstRecordOnly>
                <queriedFields>Id</queriedFields>
                <queriedFields>Name</queriedFields>
                <relatedObject>Account</relatedObject>
                <relationshipField>Account</relationshipField>
            </relatedRecords>
            <relationshipField>Contact</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DonorSummaryJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DummyInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GiftJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NBAOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WealthInfoJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
