flows/Fundraising_Agent_Program_Evaluation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_GiftTransactions_as_JSON</name>
        <label>Format GiftTransactions as JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Program_Interest</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>GiftTransaction</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>giftTransactionList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>giftTransactionJSON</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Format_Program_Interests_as_JSON</name>
        <label>Format Program Interests as JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Volunteer_Interest</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>programInterestList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>progIntOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Format_Volunteer_Interest_as_JSON</name>
        <label>Format Volunteer Interest as JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prompt_Program_Evaluation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>volunteerInterestList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>volInterestJSON</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prompt_Program_Evaluation</name>
        <label>Prompt: Program Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Fundraising_Agent_Program_Evaluation</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:giftInput</name>
            <value>
                <elementReference>giftTransactionJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:programInterest</name>
            <value>
                <elementReference>progIntOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:volInterest</name>
            <value>
                <elementReference>volInterestJSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fundraising_Agent_Program_Evaluation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>outputString</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_GT_to_List</name>
        <label>Add GT to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>giftTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Gift_Transactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_GTD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_List</name>
        <label>Assign Account to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>programInterestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Program_Interests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounts_to_Vol_List</name>
        <label>Assign Accounts to Vol List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volunteerInterestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Volunteer_Interests</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fundraising Agent: Program Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fundraising Agent: Program Evaluation</label>
    <loops>
        <name>Loop_through_GTD</name>
        <label>Loop through GTD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Gift_Transaction_Designations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Gift_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_GiftTransactions_as_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Program_Interests</name>
        <label>Loop through Program Interests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Program_Interest_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_Program_Interests_as_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Volunteer_Interests</name>
        <label>Loop through Volunteer Interests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Volunteer_Interest_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Vol</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_Volunteer_Interest_as_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Program_Interests.EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Vol</name>
        <label>Get Account (Vol)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Accounts_to_Vol_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Interests.EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Transaction_Designations</name>
        <label>Get Gift Transaction Designations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_GTD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NGOTV_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Programs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Transactions</name>
        <label>Get Gift Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_GT_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_GTD.GiftTransactionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Interest</name>
        <label>Get Program Interest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Interest_Tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Food Insecurity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Topic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Interest_Tags</name>
        <label>Get Program Interest Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Program_Interests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program_Interest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Programs</name>
        <label>Get Programs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gift_Transaction_Designations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Interest</name>
        <label>Get Volunteer Interest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Interest_Tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Topic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Interest_Tags</name>
        <label>Get Volunteer Interest Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Volunteer_Interests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Interest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Programs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>giftTransactionJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftTransactionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>outputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>progIntOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programInterestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>programName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>volInterestJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>volunteerInterestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
