flows/GiftTransactionAdjustmentFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_Gift_Default_Designations</name>
        <label>Manage Gift Default Designations</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>manageGiftTrxnDesignations</actionName>
        <actionType>manageGiftTrxnDesignations</actionType>
        <connector>
            <targetReference>Update_Refunded_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewGiftTransactionRec2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftTransactionDesignations</name>
            <value>
                <elementReference>DisplayGiftTrxnDesignationsComponent2.designations</elementReference>
            </value>
        </inputParameters>
        <nameSegment>manageGiftTrxnDesignations</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Donor_Request</name>
        <choiceText>Donor Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Donor Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Amount</name>
        <choiceText>Incorrect Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Amount</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>NewGiftTransactionNameFormula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Donor.FirstName} + &quot; &quot; + {!recordId.Donor.LastName} + &quot; - $&quot; + TEXT({!Updated_Amount}) + &quot; - &quot; + TEXT({!recordId.TransactionDate})</expression>
    </formulas>
    <formulas>
        <name>UpdateRefundedName</name>
        <dataType>String</dataType>
        <expression>&quot;REFUND - &quot; &amp; {!recordId.Name}</expression>
    </formulas>
    <interviewLabel>*GiftTransactionAdjustmentFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*GiftTransactionAdjustmentFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewGiftTransactionRec</name>
        <label>CreateNewGiftTransactionRec</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>NewGiftTransactionRec2</assignRecordIdToReference>
        <connector>
            <targetReference>Manage_Gift_Default_Designations</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>recordId.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>recordId.DonorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftCommitmentId</field>
            <value>
                <elementReference>recordId.GiftCommitmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftCommitmentScheduleId</field>
            <value>
                <elementReference>recordId.GiftCommitmentScheduleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewGiftTransactionNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>Updated_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutreachSourceCodeId</field>
            <value>
                <elementReference>recordId.OutreachSourceCodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>recordId.PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDueDate</field>
            <value>
                <elementReference>recordId.TransactionDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRefundRecord</name>
        <label>CreateRefundRecord</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CreateNewGiftTransactionRec</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>recordId.OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftTransactionId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Reason_for_Refund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>GiftRefund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetGiftTransactionDesignationRec</name>
        <label>GetGiftTransactionDesignationRec</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gift_Transaction_Adjustment</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGiftTransactionRec</name>
        <label>GetGiftTransactionRec</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGiftTransactionDesignationRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Refunded_Record</name>
        <label>Update Refunded Record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UpdateRefundedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Gift_Transaction__c</field>
            <value>
                <elementReference>NewGiftTransactionRec2</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <screens>
        <name>Gift_Transaction_Adjustment</name>
        <label>Gift Transaction Adjustment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRefundRecord</targetReference>
        </connector>
        <fields>
            <name>Original_Information</name>
            <fieldText>Original Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Original_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>recordId.OriginalAmount</elementReference>
                    </defaultValue>
                    <fieldText>Original Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Original_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayGiftTrxnRecordDetailsComponent</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>runtime_industries_frops:npcCallAction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>GET_TRANSACTION_DESIGNATIONS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayGiftTrxnDesignationsComponent</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>runtime_industries_frops:designation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>noOfDesignations</name>
                <value>
                    <stringValue>15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalAmount</name>
                <value>
                    <elementReference>GetGiftTransactionRec.CurrentAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>designations</name>
                <value>
                    <elementReference>DisplayGiftTrxnRecordDetailsComponent.giftDesignations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <stringValue>GIFT_TRANSACTION_DESIGNATION</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Updated_Information</name>
            <fieldText>Updated Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Updated_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Updated_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Updated Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Updated_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Refund</name>
                    <choiceReferences>Incorrect_Amount</choiceReferences>
                    <choiceReferences>Donor_Request</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Refund</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayGiftTrxnRecordDetailsComponent2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>runtime_industries_frops:npcCallAction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>GET_TRANSACTION_DESIGNATIONS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayGiftTrxnDesignationsComponent2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>runtime_industries_frops:designation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>noOfDesignations</name>
                <value>
                    <stringValue>15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalAmount</name>
                <value>
                    <elementReference>Updated_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>designations</name>
                <value>
                    <elementReference>DisplayGiftTrxnRecordDetailsComponent.giftDesignations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <stringValue>GIFT_TRANSACTION_DESIGNATION</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetGiftTransactionRec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewGiftTransactionRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>NewGiftTransactionRec2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
</Flow>
