flows/Grantmaking_IAForm_Financial_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Awaiting</name>
        <choiceText>Awaiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAD</name>
        <choiceText>CAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concept_Stage</name>
        <choiceText>Concept Stage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concept Stage</stringValue>
        </value>
    </choices>
    <choices>
        <name>EUR</name>
        <choiceText>EUR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>JPY</name>
        <choiceText>JPY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JPY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permitting</name>
        <choiceText>Permitting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permitting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planning_Stage</name>
        <choiceText>Planning Stage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning Stage</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Grantmaking-IAForm-Financial Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking-IAForm-Financial Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application_Task.IndividualApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Application_Task</name>
        <label>Get Individual Application Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Individual_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplicationTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FinDetails</name>
        <label>Financial Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BudgetForm</name>
            <extensionName>runtime_industries_budget:budget</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideSubmit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Individual_Application.Budget.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Justification</name>
            <fieldText>Budget Justification - Please provide an overall budget justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BudgetUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Budget Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please upload your budget details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Individual_Application_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IATaskSubmitted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Individual_Application_Task.IsSubmitted</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
