flows/Mission_Control_Agent_Get_Volunteer_Positions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JSONify_the_Positions</name>
        <label>JSONify the Positions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prompt_Get_Volunteer_Positions</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>JobPosition</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>jobPositionCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Prompt_Get_Volunteer_Positions</name>
        <label>Prompt: Get Volunteer Positions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Mission_Control_Agent_Get_Volunteer_Positions</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:positionInput</name>
            <value>
                <elementReference>JSONify_the_Positions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mission_Control_Agent_Get_Volunteer_Positions</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Position_to_List</name>
        <label>Add Position to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>jobPositionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Positionsq</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Volunteer_Positionsq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Qualification</name>
        <label>Append Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Volunteer_Positionsq.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualificationNeeded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Examiniation_ID_to_qID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Examiniation_ID_to_qID</name>
        <label>Assign Examiniation ID to qID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>qID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Examination.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Position_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Special_Skills_Needed</name>
        <label>Special Skills Needed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Position_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill Not Necessary</defaultConnectorLabel>
        <rules>
            <name>Skilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Volunteer_Positionsq.Position.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skilled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Qualification</targetReference>
            </connector>
            <label>Skilled</label>
        </rules>
    </decisions>
    <description>Get volunteer positions and check for needed skill, if necessary</description>
    <environments>Default</environments>
    <formulas>
        <name>QualificationNeeded</name>
        <dataType>String</dataType>
        <expression>&quot;Qualification Needed: &quot;&amp;{!Get_Examination.Name}</expression>
    </formulas>
    <interviewLabel>Get Volunteer Positions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mission Control Agent: Get Volunteer Positions</label>
    <loops>
        <name>Loop_through_Volunteer_Positionsq</name>
        <label>Loop through Volunteer Positions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Volunteer_Positions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Special_Skills_Needed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>JSONify_the_Positions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Examination</name>
        <label>Get Examination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Append_Qualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Qualification.QualificationReferenceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Examination</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qualification</name>
        <label>Get Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Examination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Positionsq.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionQualification</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Positions</name>
        <label>Get Volunteer Positions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Volunteer_Positionsq</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VolunteerInitiativeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Positions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobPositionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>JobPosition</objectType>
    </variables>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>qID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
