flows/Mission_Control_Agent_Find_Available_Volunteers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Format_as_JSON</name>
        <label>Apex: Format as JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prompt_Find_Matching_Volunteers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>PersonExamination</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Person_Examinations</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Prompt_Find_Matching_Volunteers</name>
        <label>Prompt: Find Matching Volunteers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Mission_Control_Agent_Find_Matching_Volunteers</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:volunteerInput</name>
            <value>
                <elementReference>Apex_Format_as_JSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mission_Control_Agent_Find_Matching_Volunteers</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Mission Control Agent: Find Available Volunteers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mission Control Agent: Find Available Volunteers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person_Examinations</name>
        <label>Get Person Examinations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex_Format_as_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExaminationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Qualifications.QualificationReferenceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PersonExamination</object>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ExaminationDate</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Result</queriedFields>
        <queriedFields>Score</queriedFields>
        <queriedFields>VerificationDateTime</queriedFields>
        <queriedFields>VerificationStatus</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>AccountId</queriedFields>
            <queriedFields>Id</queriedFields>
            <relatedObject>Contact</relatedObject>
            <relatedRecords>
                <getFirstRecordOnly>true</getFirstRecordOnly>
                <queriedFields>Id</queriedFields>
                <queriedFields>Name</queriedFields>
                <relatedObject>Account</relatedObject>
                <relationshipField>Account</relationshipField>
            </relatedRecords>
            <relationshipField>Contact</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qualifications</name>
        <label>Get Qualifications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Examinations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionQualification</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Qualifications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
