flows/Mission_Control_Agent_Programs_Interests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Format_Interests_JSON</name>
        <label>Apex: Format Interests JSON</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Programs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Topic</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>topicList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>interestOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apex_Format_Programs_as_JSON</name>
        <label>Apex: Format Programs as JSON</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>ngo_GenericJSONFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prompt_Program_Interests</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Program</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Programs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ngo_GenericJSONFormatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>programOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prompt_Program_Interests</name>
        <label>Prompt: Program Interests</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>Mission_Control_Agent_Program_Interests</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:interestInput</name>
            <value>
                <elementReference>interestOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:programInput</name>
            <value>
                <elementReference>programOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mission_Control_Agent_Program_Interests</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Topic_to_List</name>
        <label>Add Topic to List</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>topicList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Topic_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Mission Control Agent: Programs &amp; Interests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mission Control Agent: Programs &amp; Interests</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Interest_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Topic_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apex_Format_Interests_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Interest_Tags</name>
        <label>Get Interest Tags</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Programs</name>
        <label>Get Programs</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex_Format_Programs_as_JSON</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShortForm</queriedFields>
        <queriedFields>Summary</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Topic_Name</name>
        <label>Get Topic Name</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Topic_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.TopicId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Topic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Interest_Tags</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>interestOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>jsonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of Account record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>topicList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Topic</objectType>
    </variables>
</Flow>
