flows/NGO_Grants_Grantmaking_FundingAward_Modal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Decision_Date</name>
        <label>Assign Decision Date</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>fundingAward.DecisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundingAward.Awarded_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FundingAward</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_initial_FundingAward_values</name>
        <label>Assign initial FundingAward values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>fundingAward.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.RequestedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.ApplicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.Awarded_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.FundingOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.FundingOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.AwardeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.IndividualApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fundingAward.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IndividualApplication.BudgetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Funding_Award_Details</targetReference>
        </connector>
    </assignments>
    <description>Launched from a button on Individual Application, this flow presents the User with the ability to create a FundingAward.</description>
    <environments>Default</environments>
    <interviewLabel>Grantmaking - FundingAward Modal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking - FundingAward Modal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_FundingAward</name>
        <label>Create FundingAward</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>fundingAward</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_IndividualApplication</name>
        <label>Get IndividualApplication</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_initial_FundingAward_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Funding_Award_Details</name>
        <label>Funding Award Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Decision_Date</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>fundingAward.Name</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>fundingAward.Awarded_Date__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Award_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>fundingAward.Amount</elementReference>
            </defaultValue>
            <fieldText>Award Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>fundingAward.StartDate</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>fundingAward.EndDate</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IndividualApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
