flows/NGO_Automatic_DPE_Rollups.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Automatic_Rollup_Updates</name>
        <label>Automatic Rollup Updates</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>manageFundraisingDefinitions</actionName>
        <actionType>manageFundraisingDefinitions</actionType>
        <connector>
            <targetReference>Batch_Job_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentCalendarYear</name>
            <value>
                <elementReference>currentCalendarYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastCalendarYear</name>
            <value>
                <elementReference>lastCalendarYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastTwoCalendarYears</name>
            <value>
                <elementReference>lastTwoCalendarYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runDonorGiftSummary</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runOutreachSummary</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runGiftDesignation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>manageFundraisingDefinitions</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Scheduled flow to refresh out-of-the-box Data Processing Engine rollups for Nonprofit Cloud</description>
    <environments>Default</environments>
    <formulas>
        <name>currentCalendarYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>lastCalendarYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-1, 1, 1)</expression>
    </formulas>
    <formulas>
        <name>lastTwoCalendarYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-2, 1, 1)</expression>
    </formulas>
    <interviewLabel>NGO_Automatic_DPE_Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NGO_Automatic_DPE_Rollups</label>
    <loops>
        <name>Batch_Job_Loop</name>
        <label>Batch Job Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Automatic_Rollup_Updates.batchJobIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Wait_for_Batch_Job_to_Complete</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automatic_Rollup_Updates</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-14</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Wait_for_Batch_Job_to_Complete</name>
        <label>Wait for Batch Job to Complete</label>
        <locationX>440</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Batch_Job_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Batch_Job_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch_Job_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Job_Loop</targetReference>
            </connector>
            <eventType>BatchJobStatusChangedEvent</eventType>
            <inputParameters>
                <name>BatchJob</name>
                <value>
                    <elementReference>Batch_Job_Loop</elementReference>
                </value>
            </inputParameters>
            <label>Batch Job Complete.</label>
        </waitEvents>
        <waitEvents>
            <name>Time_Out_After_A_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch_Job_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Job_Loop</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Time Out After A Day</label>
        </waitEvents>
    </waits>
</Flow>
