flows/NGO_Coordinate_Gift_Commitment_Processing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that runs a batch job to asynchronously create a new transaction. Also updates the next transaction date and amount fields on the associated gift commitment record.</description>
        <name>RunBatchJobUpdateTransactionDetails</name>
        <label>Run Batch Job to Update Transaction Details</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>frops_flow__UpdateCmtmtOnNxtTxn</actionName>
        <actionType>batchJobAction</actionType>
        <connector>
            <targetReference>PauseFlowNextTrxnDtlUpdateAtCmttBtchJob</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>criteria_Current_Date</name>
            <value>
                <elementReference>CurrentDateFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>frops_flow__UpdateCmtmtOnNxtTxn</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that runs the UpdateCmtOnTxnStatusBatchJobName batch job to update the Status field of the gift commitment record based on the statuses of recent past transactions. The number of recent gift transactions can be configured in Fundraising Settings in Setup.</description>
        <name>RunBtchJobToUpdateCommitmentStatus</name>
        <label>Run Batch Job to Update Commitment Status</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <actionName>frops_flow__UpdateCmtmtOnTxnStatus</actionName>
        <actionType>batchJobAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>criteria_Last_Execution_Date_Time</name>
            <value>
                <elementReference>LastRunDttmForUpdateCmtmtOnTxnStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>criteria_Last_Execution_Date</name>
            <value>
                <elementReference>LastRunDtForUpdateCmtmtOnTxnStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>criteria_Current_Date</name>
            <value>
                <elementReference>CurrentDateFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>frops_flow__UpdateCmtmtOnTxnStatus</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that runs the UpdateCmtOnSchdChgBatchJobName batch job to update the current commitment schedule on the gift commitment. Stores the results in Outputs from RunUpdateSchdBatchJob.</description>
        <name>RunBtchJobToUpdateCurrCmtSchd</name>
        <label>Run Batch Job to Update Current Commitment Schedule</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <actionName>frops_flow__UpdateCmtmtOnSchChange</actionName>
        <actionType>batchJobAction</actionType>
        <connector>
            <targetReference>PauseFlowScheduleChangeBtchJob</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>criteria_Last_Execution_Date</name>
            <value>
                <elementReference>LastRunDtForUpdateCmtmtOnSchdChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>criteria_Current_Date</name>
            <value>
                <elementReference>CurrentDateFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>frops_flow__UpdateCmtmtOnSchChange</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the name of the batch job used to update the current gift commitment schedule for the gift commitment.</description>
        <name>UpdateCmtOnSchdChgBatchJobName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>frops_flow__UpdateCmtmtOnSchChange</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the name of the batch job that updates the gift commitment status based on one or more recent gift transactions. The number of recent gift transactions can be configured in Fundraising Settings in Setup.</description>
        <name>UpdateCmtOnTxnStatusBatchJobName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>frops_flow__UpdateCmtmtOnTxnStatus</stringValue>
        </value>
    </constants>
    <description>Runs batch jobs that update Gift Commitment records based on associated Gift Commitment Schedule and Gift Transaction records.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the date that the flow runs.</description>
        <name>CurrentDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Stores the date when the last successful run of the UpdateCmtOnSchdChgBatchJobName batch job completed.</description>
        <name>LastRunDtForUpdateCmtmtOnSchdChg</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!LastRunDttmForUpdateCmtmtOnSchdChg})</expression>
    </formulas>
    <formulas>
        <description>Stores the date and time when the last successful run of the UpdateCmtOnTxnStatusBatchJobName batch job completed.</description>
        <name>LastRunDtForUpdateCmtmtOnTxnStatus</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!LastRunDttmForUpdateCmtmtOnTxnStatus})</expression>
    </formulas>
    <interviewLabel>Coordinate Gift Commitment Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coordinate Gift Commitment Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the last successful batch job record with a name that matches UpdateCmtOnSchdChgBatchJobName. Stores the EndTime field of the result in the LastRunDttmForUpdateCmtOnSchdChg variable.</description>
        <name>GetBtchJobForCurrGiftCmtSchdChg</name>
        <label>Get Batch Job for Current Gift Commitment Schedule Change</label>
        <locationX>176</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RunBtchJobToUpdateCurrCmtSchd</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateCmtOnSchdChgBatchJobName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompletedWithFailures</stringValue>
            </value>
        </filters>
        <object>BatchJob</object>
        <outputAssignments>
            <assignToReference>LastRunDttmForUpdateCmtmtOnSchdChg</assignToReference>
            <field>EndTime</field>
        </outputAssignments>
        <sortField>EndTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the date time of the last successful run of the batch job from the UpdateGiftCmtStatus batch record. Stores the EndTime of result in LastRunDttmForUpdtGiftCmtSts.</description>
        <name>GetUpdateGiftCmtStatusBatch</name>
        <label>Get Update Gift Commitment Status Batch Job</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RunBtchJobToUpdateCommitmentStatus</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateCmtOnTxnStatusBatchJobName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompletedWithFailures</stringValue>
            </value>
        </filters>
        <object>BatchJob</object>
        <outputAssignments>
            <assignToReference>LastRunDttmForUpdateCmtmtOnTxnStatus</assignToReference>
            <field>EndTime</field>
        </outputAssignments>
        <sortField>EndTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <sourceTemplate>frops_flow__CnGiftCmtProcessing</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RunBatchJobUpdateTransactionDetails</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-28</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the date and time when the last successful run of the UpdateCmtOnSchdChgBatchJobName batch job completed.</description>
        <name>LastRunDttmForUpdateCmtmtOnSchdChg</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1900-01-01T08:00:10.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <description>Stores the date and time when the last successful run of the UpdateCmtOnTxnStatusBatchJobName batch job completed.</description>
        <name>LastRunDttmForUpdateCmtmtOnTxnStatus</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1900-01-01T08:00:10.000Z</dateTimeValue>
        </value>
    </variables>
    <waits>
        <description>Pauses the flow either until a batch job status changed event returns the batch job ID equal to Outputs from PauseFlowNextTransactionDetailsUpdateAtCommitment.batchJobId or for an hour.</description>
        <name>PauseFlowNextTrxnDtlUpdateAtCmttBtchJob</name>
        <label>Wait for Next Transaction Details Update Batch Job</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>GetBtchJobForCurrGiftCmtSchdChg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>isBatchJobFinishedTransactionDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunBatchJobUpdateTransactionDetails.batchJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBtchJobForCurrGiftCmtSchdChg</targetReference>
            </connector>
            <eventType>BatchJobStatusChangedEvent</eventType>
            <inputParameters>
                <name>BatchJob</name>
                <value>
                    <elementReference>RunBatchJobUpdateTransactionDetails.batchJobId</elementReference>
                </value>
            </inputParameters>
            <label>Batch Job Finished</label>
        </waitEvents>
        <waitEvents>
            <name>isBatchJobTimedOutTransactionDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunBatchJobUpdateTransactionDetails.batchJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBtchJobForCurrGiftCmtSchdChg</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Batch Job Timed Out</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Pauses the flow either until a batch job status changed event returns the batch job ID equal to Outputs from RunUpdateSchdBatchJob.batchJobId or for an hour.</description>
        <name>PauseFlowScheduleChangeBtchJob</name>
        <label>Wait for Schedule Change Batch Job</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>GetUpdateGiftCmtStatusBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>isBatchJobFinishedScheduleChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunBtchJobToUpdateCurrCmtSchd.batchJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUpdateGiftCmtStatusBatch</targetReference>
            </connector>
            <eventType>BatchJobStatusChangedEvent</eventType>
            <inputParameters>
                <name>BatchJob</name>
                <value>
                    <elementReference>RunBtchJobToUpdateCurrCmtSchd.batchJobId</elementReference>
                </value>
            </inputParameters>
            <label>Batch Job Finished</label>
        </waitEvents>
        <waitEvents>
            <name>isBatchJobTimedOutScheduleChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunBtchJobToUpdateCurrCmtSchd.batchJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUpdateGiftCmtStatusBatch</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Batch Job Timed Out</label>
        </waitEvents>
    </waits>
</Flow>
