flows/NGO_Base_Update_Profile_Photo.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Fields</name>
        <label>Assign Contact Fields</label>
        <locationX>758</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.NGO_Base_Contact_Picture_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>photoURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contact_Photo_URL</name>
        <label>Clear Contact Photo URL</label>
        <locationX>50</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.NGO_Base_Contact_Picture_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Delete</name>
        <choiceText>Delete the existing photo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upload</name>
        <choiceText>Uploading a new photo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_this_Upload_or_Delete</name>
        <label>Is this Upload or Delete?</label>
        <locationX>609</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upload_New_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_uploading_a_new_photo_or_deleting_an_existing_photo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Customer_Photo</targetReference>
            </connector>
            <label>Upload New Photo</label>
        </rules>
        <rules>
            <name>Delete_Current_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_uploading_a_new_photo_or_deleting_an_existing_photo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Contact_Photo_URL</targetReference>
            </connector>
            <label>Delete Current Photo</label>
        </rules>
    </decisions>
    <description>WHAT: Flow for updating Contact&apos;s profile photo field from their related PersonAccount.
WHO: Brian Ricter | Q Branch
WHEN: 242.1</description>
    <environments>Default</environments>
    <formulas>
        <name>fileName</name>
        <dataType>String</dataType>
        <expression>&quot;New Photo - &quot; &amp; TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>photoURL</name>
        <dataType>String</dataType>
        <expression>&quot;/sfc/servlet.shepherd/version/download/&quot;&amp;{!Get_Content_Delivery.ContentVersionId}</expression>
    </formulas>
    <interviewLabel>Update Profile Photo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Profile Photo</label>
    <loops>
        <name>Loop_through_Collection</name>
        <label>Loop through Collection</label>
        <locationX>500</locationX>
        <locationY>612</locationY>
        <collectionReference>contentVersionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_ContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLink</name>
        <label>Create ContentDocumentLink</label>
        <locationX>807</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>Get_Content_Delivery</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Loop_through_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesExpires</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesLinkLatestVersion</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyRndtnComplete</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesPasswordRequired</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>956</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>982</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Delivery</name>
        <label>Get Content Delivery</label>
        <locationX>1010</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_ContentDocumentLink</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>502</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Choice</name>
        <label>Confirm Choice</label>
        <locationX>791</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_Upload_or_Delete</targetReference>
        </connector>
        <fields>
            <name>Are_you_uploading_a_new_photo_or_deleting_an_existing_photo</name>
            <choiceReferences>Upload</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Upload</defaultSelectedChoiceReference>
            <fieldText>Are you uploading a new photo, or deleting an existing photo?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>successScreen</label>
        <locationX>512</locationX>
        <locationY>1089</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Success! Your updated photo will display once you click &apos;Finish&apos; below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Customer_Photo</name>
        <label>Upload Customer Photo</label>
        <locationX>495</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Collection</targetReference>
        </connector>
        <fields>
            <name>welcomeMessage</name>
            <fieldText>&lt;p&gt;This will update the profile photo on this record. Upload a high quality image file here (400 x 400 is the ideal size). Once your file is uploaded, click the &apos;Next&apos; button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>uploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>contentVersionCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentVersionCollection</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>828</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
