flows/NGO_Prospect_Research_Promote_Party_Philanthropic_Indicator_CLONE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether a party philanthropic occurrence record exists on the Party Philanthropic Indicator.</description>
        <name>DoesPartyPhilanthropicOccurrenceExist</name>
        <label>Does Party Philanthropic Occurrence Exist?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayPartyPhilanthropicOccurren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasPartyPhilanthropicOccurrence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPartyPhilanthropicIndicator.PartyPhilanthropicOccurrence.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePartyPhilanthropicOccurrenceRecor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prospect Research: Promote Party Philanthropic Indicator (CLONE) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prospect Research: Promote Party Philanthropic Indicator (CLONE)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a party philanthropic occurrence record using values from the partyPhilanthropicIndicatorId variable. Updates the Party Philanthropic Indicator with the ID of the new party philanthropic occurrence record.</description>
        <name>CreatePartyPhilanthropicOccurrenceRecor</name>
        <label>Create Party Philanthropic Occurrence Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>UpdatePartyPhilanthropicIndicator</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorCreatOccurrence</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributedUserId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.AttributedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateCollected</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedValue</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.EstimatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OccurrenceType</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Indicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherSource</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.OtherSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Participant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOrganizationId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.RelatedOrganization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResearchType</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.IndicatorType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceId</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.SourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.SourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary</field>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Summary</elementReference>
            </value>
        </inputAssignments>
        <object>PartyPhilanthropicOccurrence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Party Philanthropic Indicator record with an ID that matches the recordId passed into the flow. Stores the result in the messaging session from the partyPhilanthropicIndicatorId record variable.</description>
        <name>GetPartyPhilanthropicIndicator</name>
        <label>Get Party Philanthropic Indicator</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPartyPhilanthropicOccurrenceExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartyPhilanthropicIndicatorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyPhilanthropicIndicator</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Party Philanthropic Indicator with the party philanthropic occurrence record ID and status fields.</description>
        <name>UpdatePartyPhilanthropicIndicator</name>
        <label>Update Party Philanthropic Indicator</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>ScreenConfirmIndicatorVerifiedAsOccurre</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayErrorCreatOccurrence</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PartyPhilanthropicOccurrenceId</field>
            <value>
                <elementReference>CreatePartyPhilanthropicOccurrenceRecor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Promoted</stringValue>
            </value>
        </inputAssignments>
        <object>PartyPhilanthropicIndicator</object>
    </recordUpdates>
    <screens>
        <description>Displays a message to the flow user confirming that the Party Philanthropic Indicator was verified as a Party Philanthropic Occurrence.</description>
        <name>ScreenConfirmIndicatorVerifiedAsOccurre</name>
        <label>Indicator Verified as Occurrence</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PartyPhilanthropicIndicatorVerifiedAsOc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;The indicator was verified as an occurrence.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user if an error occurs while creating a party philanthropic occurrence record.</description>
        <name>ScreenDisplayErrorCreatOccurrence</name>
        <label>Error Prevented Indicator to Occurrence Promotion</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PartyPhilanthropicIndicatorPromotionError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;We couldn’t promote the indicator to an occurrence. For help, contact your Salesforce admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the flow user that a party philanthropic occurrence exists for the current Party Philanthropic Indicator.</description>
        <name>ScreenDisplayPartyPhilanthropicOccurren</name>
        <label>Display Party Philanthropic Occurrence Result</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PartyPhilanthropicOccurrenceExists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;The indicator was already verified as an occurrence.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>prospect_research__PromPtyPhlnthInd</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPartyPhilanthropicIndicator</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Party Philanthropic Indicator record that was passed into the flow.</description>
        <name>PartyPhilanthropicIndicatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
