flows/NGO_Grants_Grantmaking_ApplyButton.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Application</name>
        <label>Navigate to Application</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <actionName>c:NGO_Grants_NavigateAura</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NGO_Grants_NavigateAura</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignApplciationVar</name>
        <label>assignApplciationVar</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Application.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.FundingOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFundingOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.ApplicationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.RequestedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.FundingRequestPurpose</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Program_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Focus_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserContactID.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Education</name>
        <choiceText>Education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>Environment</name>
        <choiceText>Environment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Environment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Food_Safety</name>
        <choiceText>Food Safety</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Food Safety</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>eligibilityResult</name>
        <label>eligibilityResult</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>eligFail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_a_501_c_3_organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_request_for_a_marketing_cause_marketing_or_an_advertising_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Screen_1</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_User_Decision</name>
        <label>is Guest User</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getFundingOppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Guest_User_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserIsGuest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guest_User_Screen</targetReference>
            </connector>
            <label>isGuest</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFOActive</name>
        <label>isFOActive</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFundingOppty.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepting Applications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserContactID</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserIsGuest</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$User.UserType}, &quot;Guest&quot;)</expression>
    </formulas>
    <interviewLabel>Grantmaking-ApplyButton {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Grantmaking-ApplyButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Navigate_to_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Get_Action_Plan_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Application Action Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Action_Plan_Template</targetReference>
        </connector>
        <inputReference>Application</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFundingOppty</name>
        <label>getFundingOppty</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isFOActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserContactID</name>
        <label>getUserContactID</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibility_Quiz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Application_Screen_1</name>
        <label>Application Screen 1</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignApplciationVar</targetReference>
        </connector>
        <fields>
            <name>FONameDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Funding Opportunity Name: &lt;/strong&gt;{!getFundingOppty.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Funding Opportunity ID: {!getFundingOppty.Funding_Opportunity_Number__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start and End Date: {!getFundingOppty.StartDate} - {!getFundingOppty.EndDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Application_Title</name>
            <dataType>String</dataType>
            <fieldText>Application Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_Program_Description</name>
            <fieldText>Project/Program Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Funding_Focus_Area</name>
            <choiceReferences>Education</choiceReferences>
            <choiceReferences>Food_Safety</choiceReferences>
            <choiceReferences>Environment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Funding Focus Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Requested_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Requested Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>eligFail</name>
        <label>eligFail</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eligFaildisplay</name>
            <fieldText>&lt;p&gt;Thank you for thinking of Mountain Rise Foundation&apos;s funding opportunity for &lt;strong&gt;{!getFundingOppty.Name}&lt;/strong&gt;. Based on your responses to the eligibility quiz, your organization &lt;strong&gt;does not qualify&lt;/strong&gt; for funding for this opportunity. Please click here to find out more about what kinds of requests that we do not generally support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please browse our other active funding opportunities. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click here to return to the home page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_Quiz</name>
        <label>Eligibility Quiz</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eligibilityResult</targetReference>
        </connector>
        <fields>
            <name>eligibilityText</name>
            <fieldText>&lt;p&gt;Thank you for your interest in {!getFundingOppty.Name}. Please complete all the questions below in order to determine your eligibility for funding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_you_a_501_c_3_organization</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a 501(c)(3) organization?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does your organization have a non-discrimination policy that ensures it does not discriminate based on race, ethnicity, color, sex, religion, age, national origin, ancestry, citizenship, sexual orientation, gender identity and/or expression, or disability?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_this_request_for_a_marketing_cause_marketing_or_an_advertising_project</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this request for a marketing, cause marketing or an advertising project?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Eligibility</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guest_User_Screen</name>
        <label>Guest User Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GuestUserScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You need to &lt;/span&gt;&lt;a href=&quot;https://sbilgi-221017-140-demo.lightning.force.com/fundingprograms/s/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;log in&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to or &lt;/span&gt;&lt;a href=&quot;https://sbilgi-221017-140-demo.lightning.force.com/fundingprograms/s/login/SelfRegister&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;sign up&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; for an account before you can apply for funding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Guest_User_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
