flows/NGO_CaseMan_Benefit_Session_Rollups.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Total_Enrolled</name>
        <label>Assign Total Enrolled</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Benefit_Session.NGO_CaseMan_Total_Enrolled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalEnrolledFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Benefit_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Totals</name>
        <label>Assign Totals</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Benefit_Session.NGO_CaseMan_Total_Attended__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Benefit_Disbursements_Attended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Benefit_Session.NGO_CaseMan_Total_Unattended__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Benefit_Disbursements_Unattended</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Enrolled</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>totalEnrolledFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Benefit_Session.NGO_CaseMan_Total_Attended__c} + {!Get_Benefit_Session.NGO_CaseMan_Total_Unattended__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>NGO_CaseMan_Benefit_Session_Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NGO_CaseMan_Benefit_Session_Rollups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Benefit_Disbursements_Attended</name>
        <label>Get Benefit Disbursements - Attended</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Benefit_Disbursements_Unattended</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>BenefitSessionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitSessionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benefit_Disbursements_Unattended</name>
        <label>Get Benefit Disbursements - Unattended</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Totals</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>BenefitSessionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitSessionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Excused Absent</stringValue>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unexcused Absent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benefit_Session</name>
        <label>Get Benefit Session</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Benefit_Disbursements_Attended</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Benefit_Session</name>
        <label>Update Benefit Session</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Benefit_Session</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Benefit_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>benefitSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
