flows/NGO_IDO_Create_ContactContactRelation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CCR1_Related_Inverse_Id</name>
        <label>Assign CCR1 Related Inverse Id</label>
        <locationX>675</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>CCR1.RelatedInverseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CCR2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CCR1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CCR1_Values</name>
        <label>Assign CCR1 Values</label>
        <locationX>675</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>CCR1.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Current_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCR1.HierarchyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCR1.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newCCRScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_PRR_have_an_inverse</name>
        <label>Does PRR have an inverse?</label>
        <locationX>363</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Create_CCR2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Inverse_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCR1.PartyRoleRelation.RelatedInverseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CCR2</targetReference>
            </connector>
            <label>Yes, Inverse exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NGO IDO - Create ContactContactRelation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ContactContactRelation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CCR1</name>
        <label>Create CCR1</label>
        <locationX>675</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Does_PRR_have_an_inverse</targetReference>
        </connector>
        <inputReference>CCR1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CCR2</name>
        <label>Create CCR2</label>
        <locationX>370</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Assign_CCR1_Related_Inverse_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CCR1.RelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CCR1.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HierarchyType</field>
            <value>
                <elementReference>CCR1.HierarchyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>CCR1.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>CCR1.PartyRoleRelation.RelatedInverseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedContactId</field>
            <value>
                <elementReference>CCR1.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <elementReference>CCR1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CCR1.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CCR2_0</name>
        <label>Create CCR2</label>
        <locationX>718</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>Assign_CCR1_Related_Inverse_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CCR1.RelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CCR1.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HierarchyType</field>
            <value>
                <elementReference>CCR1.HierarchyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>CCR1.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>CCR1.PartyRoleRelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedContactId</field>
            <value>
                <elementReference>CCR1.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <elementReference>CCR1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CCR1.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Current_Account</name>
        <label>Lookup Current Account</label>
        <locationX>675</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CCR1_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CCR1</name>
        <label>Update CCR1</label>
        <locationX>674</locationX>
        <locationY>1280</locationY>
        <inputReference>CCR1</inputReference>
    </recordUpdates>
    <screens>
        <name>newCCRScreen</name>
        <label>newCCRScreen</label>
        <locationX>675</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_CCR1</targetReference>
        </connector>
        <fields>
            <name>newCCRHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;New Contact Contact Relationship&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>newCCRScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newCCRScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.ContactId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.RelatedContactId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.HierarchyType</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newCCRScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.PartyRoleRelationId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.IsActive</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.StartDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CCR1.EndDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>549</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lookup_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CCR1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
