flows/NGO_CaseMan_Disperse_Benefit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <dynamicChoiceSets>
        <name>BenefitAssignment</name>
        <dataType>String</dataType>
        <displayField>Benefit_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarClient</elementReference>
            </value>
        </filters>
        <object>BenefitAssignment</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Disburse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disburse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dispersment</name>
        <label>Create Dispersment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActualCompletionDate</field>
            <value>
                <elementReference>Delivered_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitAssignmentId</field>
            <value>
                <elementReference>varBenefitAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisbursedQuantity</field>
            <value>
                <elementReference>Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisbursementStatus</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramEnrollmentId</field>
            <value>
                <elementReference>Get_Assignment.ProgramEnrollmentId</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Dispursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBenefitAssignment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Log_Dispursement</name>
        <label>Log Dispursement</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Dispersment</targetReference>
        </connector>
        <fields>
            <name>Log_Dispursement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Dispursement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>benefit</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Assignment.Benefit.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AvailableQuantity</name>
                    <fieldText>&lt;p&gt;Available Qty = {!Get_Assignment.Available__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Dispursement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Delivered_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Delivered Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Dispursement_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBenefitAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
