flows/NGO_Disburse_Participant_Benefits_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the participant ID for the benefit disbursement to the account ID in Account from the Get Account from Case or Account from Get Account from Contact variable.</description>
        <name>SetAccountIdToParticipantId</name>
        <label>Set Account ID to Participant ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParticipantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPersonAndBusinessAccounts</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Determines whether the recordId is for an account by checking if it starts with ‘001’.</description>
        <name>HaveAccountRecord</name>
        <label>Have Account Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HaveContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasAccountRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountIdToParticipantId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the recordId is for a case by checking if it starts with ‘500’.</description>
        <name>HaveCaseRecord</name>
        <label>Have Case Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetPersonAndBusinessAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasCaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountFromCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the recordId is for a contact by checking if it starts with ‘003’.</description>
        <name>HaveContactRecord</name>
        <label>Have Contact Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HaveCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasContactRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountFromContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the CreateParticipantBenefits flow ran and created records by checking if the CreateParticipantBenefits flow didn’t return a fault message and if the benefitDisbursementId contains a value.</description>
        <name>HaveParticipantBenefits</name>
        <label>Have Participant Benefits?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorCreateParticipantBenefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasParticipantBenefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateParticipantBenefits.benefitDisbursementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateParticipantBenefits.benefitDisbursementId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayConfirmationBenefitDisbursement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the CreateAnotherBenefitDisbursementCheckbox on the ScreenDisplayConfirmationBenefitDisbursement screen is set to true.</description>
        <name>IsCreateAnotherBenefitDisbursementSelected</name>
        <label>Is Create Another Benefit Disbursement Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ShouldCreateBenefitDisbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAnotherBenefitDisbursementCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenCollectBenefitDisbursementDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the collection choice set used in the BenefitAssignmentLookup screen component on the ScreenCollectBenefitDisbursementDetails screen. The benefits shown in the component are active and sorted descending by StartDateTime. The choice label is set to Name and the choice value is set to ID.</description>
        <name>ChoiceActiveBenefits</name>
        <collectionReference>GetActiveBenefits</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Benefit</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the collection choice set used in the ParticipantLookup screen component on the ScreenCollectBenefitDisbursementDetails screen. The accounts shown in the component don’t have null values for LastName or Name.The choice label is set to Name and the choice value is set to ID.</description>
        <name>ChoicePersonAndBusinessAccounts</name>
        <collectionReference>GetPersonAndBusinessAccounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Disburse Participant Benefits CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disburse Participant Benefits CUSTOM</label>
    <overriddenFlow>PgmMgmt__DisburseParticipantBenefits</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the case record that matches the value of the recordId. The account ID on the case record is stored in the ParticipantId variable.</description>
        <name>GetAccountFromCase</name>
        <label>Get Account from Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonAndBusinessAccounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetAccountFromCase</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ParticipantId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the contact record that matches the value of the recordId. The account ID on the contact record is stored in the ParticipantId variable.</description>
        <name>GetAccountFromContact</name>
        <label>Get Account from Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonAndBusinessAccounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetAccountFromContact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ParticipantId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the benefits records that are marked as active. Stores these records in the Benefits from Get Active Benefits.</description>
        <name>GetActiveBenefits</name>
        <label>Get Active Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCollectBenefitDisbursementDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetActiveBenefits</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the account records that have a LastName or account Name specified. Stores these records in the Accounts from Get Person and Business Accounts record collection, which is referenced by the Participant lookup in the ScreenCollectBenefitDisbursementDetails screen.</description>
        <name>GetPersonAndBusinessAccounts</name>
        <label>Get Person and Business Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveBenefits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetPersonAndBusinessAccounts</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to specify a participant, benefit, disbursement date, and disbursement quantity for the benefit to be disbursed. Clicking Save launches a flow to create a benefit disbursement record with the specified values along with any missing program enrollments and benefits.</description>
        <name>ScreenCollectBenefitDisbursementDetails</name>
        <label>Collect Benefit Disbursement Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateParticipantBenefits</targetReference>
        </connector>
        <fields>
            <name>ParticipantLookup</name>
            <choiceReferences>ChoicePersonAndBusinessAccounts</choiceReferences>
            <defaultValue>
                <elementReference>ParticipantId</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Participant</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BenefitLookup</name>
            <choiceReferences>ChoiceActiveBenefits</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Benefit</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenCollectBenefitDisbursementDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCollectBenefitDisbursementDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisbursementDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Disbursement Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCollectBenefitDisbursementDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisbursementQuantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Disbursement Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a confirmation to the flow user that includes the benefit disbursement ID that was created and lets the flow user create another benefit disbursement without exiting the flow.</description>
        <name>ScreenDisplayConfirmationBenefitDisbursement</name>
        <label>Display Benefit Disbursement Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsCreateAnotherBenefitDisbursementSelected</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDisplayText</name>
            <fieldText>&lt;p&gt;This benefit disbursement was created: {!CreateParticipantBenefits.benefitDisbursementId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayConfirmationBenefitDisbursement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenDisplayConfirmationBenefitDisbursement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenDisplayConfirmationBenefitDisbursement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateAnotherBenefitDisbursementCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create another benefit disbursement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there&apos;s an error running the CreateParticipantBenefits flow.</description>
        <name>ScreenDisplayErrorCreateParticipantBenefit</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreateParticipantBenefitsDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t create a benefit disbursement record. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there’s an error getting the account ID from the case record.</description>
        <name>ScreenDisplayErrorGetAccountFromCase</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetAccountFromCaseDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the account ID from the case record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there’s an error getting the account ID from the contact record.</description>
        <name>ScreenDisplayErrorGetAccountFromContact</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetAccountFromContactDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the account ID from the contact record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error getting the active benefit records.</description>
        <name>ScreenDisplayErrorGetActiveBenefits</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetActiveBenefitsDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the active benefit records.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error getting the person and business accounts.</description>
        <name>ScreenDisplayErrorGetPersonAndBusinessAccounts</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetPersonAndBusinessAccountsDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the person and business account records. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveAccountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a flow that generates a benefit disbursement record and creates any missing related records required for program enrollment and benefit assignment. Sets the benefit, disbursement quantity, and participant to the values selected in the ScreenCollectBenefitDisbursementDetails screen. Stores the resulting collection in the Outputs from CreateParticipantBenefits record collection.</description>
        <name>CreateParticipantBenefits</name>
        <label>Create Participant Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveParticipantBenefits</targetReference>
        </connector>
        <flowName>PgmMgmt__CreateParticipantBenefits</flowName>
        <inputAssignments>
            <name>benefitId</name>
            <value>
                <elementReference>BenefitLookup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disbursementDate</name>
            <value>
                <elementReference>DisbursementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disbursementQuantity</name>
            <value>
                <elementReference>DisbursementQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>participantId</name>
            <value>
                <elementReference>ParticipantLookup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Stores the account ID for the participant of a benefit disbursement.</description>
        <name>ParticipantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID for the account passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
