flows/Pdf_summariser_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_llm_verdict</name>
        <label>get llm verdict</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LLM_Verdict</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>post_LLM_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:PDF_parsed</name>
            <value>
                <elementReference>Final_PDF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Application</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LLM_Verdict</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>send_a_document</name>
        <label>send a document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Pdf_summariser</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assignment_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Pdfile</name>
            <value>
                <elementReference>upload_each_document_to_prompt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Pdf_summariser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fileLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_all_content_document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Final_PDF</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>send_a_document.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upload_each_document_to_prompt</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Pdf_summariser_flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pdf_summariser_flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContentDocumentIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_all_content_document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>upload_each_document_to_prompt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>upload_each_document_to_prompt</name>
        <label>upload each document to prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>fileLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_a_document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_llm_verdict</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_content_document</name>
        <label>get all content document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_linked_document_ids</name>
        <label>get all linked document ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>ContentDocumentIdList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>post_LLM_decision</name>
        <label>post LLM decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>LLM_Justification__c</field>
            <value>
                <elementReference>get_llm_verdict.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_linked_document_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>All_Documents_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLM_Justification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentdoucmentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>fileLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>Final_PDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
