flows/Program_Name_Change_Update_Program_Enrollment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Program_Enrollment_Collection</name>
        <label>Assign to Program Enrollment Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>programEnrollmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Program_Enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Program_Enrollment_Name</name>
        <label>Assign Updated Program Enrollment Name</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_Program_Enrollments.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Program_Enrollment_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>nameFormula</name>
        <dataType>String</dataType>
        <expression>{!Loop_Program_Enrollments.Account.FirstName}&amp;&quot; &quot;&amp;{!Loop_Program_Enrollments.Account.LastName}&amp;&quot; -- &quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>*Program Name Change -- Update Program Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Program Name Change -- Update Program Enrollment</label>
    <loops>
        <name>Loop_Program_Enrollments</name>
        <label>Loop Program Enrollments</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Program_Enrollment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Updated_Program_Enrollment_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Enrollment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Enrollment_Records</name>
        <label>Get Program Enrollment Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Program_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollment_Records</name>
        <label>Update Program Enrollment Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>programEnrollmentCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Enrollment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>programEnrollmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramEnrollment</objectType>
    </variables>
</Flow>
