flows/Prospect_Research_Create_Research_Request_Case_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the accountId to the account ID in the Account from Get Account record variable.</description>
        <name>SetAccountVariables</name>
        <label>Set Account Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the accountId variable to the account ID related to the record in the Interaction Summary from Get Interaction Summary record variable and the objectApiName variable to “InteractionSummary”.</description>
        <name>SetInteractionSummaryVariables</name>
        <label>Set Interaction Summary Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInteractionSummary.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InteractionSummary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the accountId and contactId variables to the account ID and contact ID related to the record in the Party Philanthropic Assessment from Get Party Philanthropic Assessment record variable and the objectApiName variable to “PartyPhilanthropicAssessment”.</description>
        <name>SetPartyPhilanthropicAssessmentVariables</name>
        <label>Set Party Philanthropic Assessment Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicAssessment.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicAssessment.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartyPhilanthropicAssessment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the accountId and contactId variables to the account ID and contact ID related to the record in the Party Philanthropic Indicator from Get Party Philanthropic Indicator record variable and the objectApiName variable to “PartyPhilanthropicIndicator”.</description>
        <name>SetPartyPhilanthropicIndicatorVariables</name>
        <label>Set Party Philanthropic Indicator Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicIndicator.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartyPhilanthropicIndicator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the accountId and contactId variables to the account ID and contact ID related to the record in the Party Philanthropic Occurrence from Get Party Philanthropic Occurrence record variable and the objectApiName variable to “PartyPhilanthropicOccurrence”.</description>
        <name>SetPartyPhilanthropicOccurrenceVariables</name>
        <label>Set Party Philanthropic Occurrence Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicOccurrence.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPartyPhilanthropicOccurrence.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartyPhilanthropicOccurrence</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores ‘8BV’, which are the first three characters of an interaction summary Salesforce ID.</description>
        <name>InteractionSummaryPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8BV</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores ‘1Js’, which are the first three characters of a party philanthropic assessment Salesforce ID.</description>
        <name>PartyPhilanthropicAssessmentPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1Js</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores ‘1Ji’, which are the first three characters of a party philanthropic indicator Salesforce ID.</description>
        <name>PartyPhilanthropicIndicatorPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1Ji</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores ‘1Jr’, which are the first three characters of a party philanthropic occurrence Salesforce ID.</description>
        <name>PartyPhilanthropicOccurrencePrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1Jr</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether an account record was passed into the flow by checking if the ID starts with the text in AccountPrefix.</description>
        <name>HaveAccountPrefix</name>
        <label>Have Account Prefix?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateResearchRequestCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasAccountPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AccountPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an interaction summary record was passed into the flow by checking if the ID starts with the text in InteractionSummaryPrefix.</description>
        <name>HaveInteractionSummaryPrefix</name>
        <label>Have Interaction Summary Prefix?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HavePartyPhilanthropicIndicatorPrefix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasInteractionSummaryPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>InteractionSummaryPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInteractionSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a party philanthropic assessment record was passed into the flow by checking if the ID starts with the text in PartyPhilanthropicAssessmentPrefix.</description>
        <name>HavePartyPhilanthropicAssessmentPrefix</name>
        <label>Have Party Philanthropic Assessment Prefix?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HavePartyPhilanthropicOccurrencePrefix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasPartyPhilanthropicAssessmentPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>PartyPhilanthropicAssessmentPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPartyPhilanthropicAssessment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a party philanthropic indicator record was passed into the flow by checking if the ID starts with the text in PartyPhilanthropicIndicatorPrefix.</description>
        <name>HavePartyPhilanthropicIndicatorPrefix</name>
        <label>Have Party Philanthropic Indicator Prefix?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HavePartyPhilanthropicAssessmentPrefix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasPartyPhilanthropicIndicatorPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>PartyPhilanthropicIndicatorPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPartyPhilanthropicIndicator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a party philanthropic occurrence record was passed into the flow by checking if the ID starts with the text in PartyPhilanthropicOccurrencePrefix.</description>
        <name>HavePartyPhilanthropicOccurrencePrefix</name>
        <label>Have Party Philanthropic Occurrence Prefix?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HaveAccountPrefix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasPartyPhilanthropicOccurrencePrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>PartyPhilanthropicOccurrencePrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPartyPhilanthropicOccurrence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prospect Research: Create Research Request Case CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prospect Research: Create Research Request Case CUSTOM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a case record for a research request based on the user’s inputs in the ScreenCreateResearchRequestCase screen.</description>
        <name>CreateResearchRequestCaseRecord</name>
        <label>Create Research Request Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorCreateCase</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>researchRequestCase.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>researchRequestCase.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>researchRequestCase.caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>researchRequestCase.casePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>researchRequestCase.caseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>researchRequestCase.caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>researchRequestCase.caseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the account record with an ID that matches the recordId passed into the flow.</description>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAccountVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the interaction summary record with an ID that matches the recordId passed into the flow.</description>
        <name>GetInteractionSummary</name>
        <label>Get Interaction Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInteractionSummaryVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InteractionSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the party philanthropic assessment record with an ID that matches the recordId passed into the flow.</description>
        <name>GetPartyPhilanthropicAssessment</name>
        <label>Get Party Philanthropic Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPartyPhilanthropicAssessmentVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyPhilanthropicAssessment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the party philanthropic indicator record with an ID that matches the recordId passed into the flow.</description>
        <name>GetPartyPhilanthropicIndicator</name>
        <label>Get Party Philanthropic Indicator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPartyPhilanthropicIndicatorVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyPhilanthropicIndicator</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the party philanthropic occurrence record with an ID that matches the recordId passed into the flow.</description>
        <name>GetPartyPhilanthropicOccurrence</name>
        <label>Get Party Philanthropic Occurrence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPartyPhilanthropicOccurrenceVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyPhilanthropicOccurrence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Lets users enter values to create a research request case record.</description>
        <name>CreateResearchRequestCase</name>
        <label>Create Research Request Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateResearchRequestCaseRecord</targetReference>
        </connector>
        <fields>
            <name>researchRequestCase</name>
            <extensionName>prospect_research:researchRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>contactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there&apos;s an error creating a case record.</description>
        <name>ScreenDisplayErrorCreateCase</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreateAccountDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 24px; background-color: transparent;&quot;&gt;Something went wrong and we couldn&apos;t create a research request record.&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a success message if a case was created.</description>
        <name>Success_Screen</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 24px;&quot;&gt;A research request case was created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>prospect_research__CreateRsrchRqst</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveInteractionSummaryPrefix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
