flows/Sample_Waiver_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_task</name>
        <label>Reminder task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Check Back in for the Volunteer Waiver </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>ThreeDaysFromNow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>recordContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Liability_Waiver</name>
        <choiceText>Liability Waiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Liability Waiver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Photo_Release</name>
        <choiceText>Photo Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Photo Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Youth_Program_Waiver</name>
        <choiceText>Youth Program Waiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Youth Program Waiver</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Set_Reminder</name>
        <label>Set Reminder?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Also_send_a_reminder_after_3_business_days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_task</targetReference>
            </connector>
            <label>SetReminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RASubject</name>
        <dataType>String</dataType>
        <expression>&quot;Missing: &quot;&amp;{!Waiver_Type}&amp;&quot;. Please collect ASAP.&quot;</expression>
    </formulas>
    <formulas>
        <name>ThreeDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+ 3</expression>
    </formulas>
    <interviewLabel>**Sample Waiver Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>**Sample Waiver Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Alert</name>
        <label>Record Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RASubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidUntilDate</field>
            <value>
                <dateTimeValue>2025-12-31T08:00:00.000Z</dateTimeValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>RecordAlert</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Choose_Waiver</name>
        <label>Choose Waiver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Alert</targetReference>
        </connector>
        <fields>
            <name>ChooseWaiverType</name>
            <fieldText>&lt;p&gt;Please choose the waiver type to request from the constituent. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Waiver_Type</name>
            <choiceReferences>Photo_Release</choiceReferences>
            <choiceReferences>Liability_Waiver</choiceReferences>
            <choiceReferences>Youth_Program_Waiver</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Waiver Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Also_send_a_reminder_after_3_business_days</name>
            <dataType>Boolean</dataType>
            <fieldText>Also set a reminder for me after 3 business days</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Waiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
