flows/Scholarship_Application_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Less_than_2_years</name>
        <choiceText>Less than 2 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 2 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_2_years</name>
        <choiceText>More than 2 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 2 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_5_Lakh</name>
        <choiceText>More than 5 Lakh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 5 Lakh</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_5_Lakhs_P_A</name>
        <choiceText>More than 5 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 5 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_7</name>
        <choiceText>More than 7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 7</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Gap_Year</name>
        <choiceText>No Gap Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Gap Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_2_Lakhs_2_4_Lakhs_P_A</name>
        <choiceText>1.2 Lakhs - 2.4 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.2 Lakhs - 2.4 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_2_Lakhs_upto_2_4_Lakhs_P_A</name>
        <choiceText>1.2 Lakhs upto 2.4 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.2 Lakhs upto 2.4 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_4_Lakh_5_Lakh_P_A</name>
        <choiceText>2.4 Lakh-5 Lakh P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	2.4 Lakh-5 Lakh P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_4_Lakhs_5_Lakhs_P_A</name>
        <choiceText>2.4 Lakhs-5 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.4 Lakhs-5 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_4_Lakhs_upto_5_Lakhs_P_A</name>
        <choiceText>2.4+ Lakhs upto 5 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.4+ Lakhs upto 5 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_5_people</name>
        <choiceText>3-5 people</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-5 people</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_7_people</name>
        <choiceText>5-7 people</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5-7 people</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>is_this_application_a_duplicate</name>
        <label>is this application a duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>duplication_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>duplication_check.Phone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>duplication_check.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ending_screen</targetReference>
            </connector>
            <label>is duplicate</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocSupport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Supporting_Documents__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_previously_recived_grant__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectProgram</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Scholarship Application New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scholarship Application New</label>
    <loops>
        <name>duplication_check</name>
        <label>duplication check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_all_previous_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_this_application_a_duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop1Upload</name>
        <label>Loop1Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>x_certificate.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_10th_maksheet_file</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop2Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2Upload</name>
        <label>Loop2Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>XII_Certificate.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_12_Marksheet_file</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop3Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop3Upload</name>
        <label>Loop3Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Family_Income_Certificate.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Family_Income_file</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop4Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop4Upload</name>
        <label>Loop4Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Gap_documents.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_gap_certificate_file</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_the_newly_created_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_10th_maksheet_file</name>
        <label>Create 10th maksheet file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop1Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop1Upload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>create_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_12_Marksheet_file</name>
        <label>Create 12 Marksheet file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop2Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop2Upload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>create_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_application</name>
        <label>create application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop1Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001Ka00004Wp5hHIAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppliedDate</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingRequestPurpose</field>
            <value>
                <elementReference>Explain_in_your_own_words_why_you_want_this_Scholarship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gap_Justification__c</field>
            <value>
                <elementReference>reasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gap_Year__c</field>
            <value>
                <elementReference>Gap_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_people_in_family__c</field>
            <value>
                <elementReference>Number_of_members_in_your_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <stringValue>self</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Address__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Pincode__c</field>
            <value>
                <elementReference>PinCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10__c</field>
            <value>
                <elementReference>X10th_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th_Pass_Year__c</field>
            <value>
                <elementReference>X10th_Passing_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Percentage__c</field>
            <value>
                <elementReference>X12th_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_passing_year__c</field>
            <value>
                <elementReference>X12th_Passing_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yearly_Family_Income__c</field>
            <value>
                <elementReference>Yearly_Family_Income</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Family_Income_file</name>
        <label>Create Family Income file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop3Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop3Upload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>create_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_gap_certificate_file</name>
        <label>Create gap certificate file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop4Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop4Upload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>create_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_all_previous_records</name>
        <label>get all previous records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_newly_created_record</name>
        <label>update the newly created record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ending_Screen_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Documents_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ending_screen</name>
        <label>Ending screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ending_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like you already submitted another application, please wait until it is resolved&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ending_Screen_Display</name>
        <label>Ending Screen Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submission_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(46, 43, 244);&quot;&gt;Your form has been succesfully submitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Org_Detail</name>
        <label>Org Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>duplication_check</targetReference>
        </connector>
        <fields>
            <name>Personal_Details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Personal Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Org_Detail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Org_Detail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Org_Detail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Org_Detail_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Org_Detail_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Org_Detail_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PinCode</name>
                    <dataType>Number</dataType>
                    <fieldText>PinCode</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Marks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Academic Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10th_Passing_Year</name>
            <dataType>String</dataType>
            <fieldText>10th Passing Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10th_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>10th Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>x_certificate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>10th Certificate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X12th_Passing_Year</name>
            <dataType>String</dataType>
            <fieldText>12th Passing Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X12th_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>12th Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>XII_Certificate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>12th Certificate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gap</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Gap in Education&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gap_Choice</name>
            <choiceReferences>No_Gap_Year</choiceReferences>
            <choiceReferences>Less_than_2_years</choiceReferences>
            <choiceReferences>More_than_2_years</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many years of gap did you have ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>reasoning</name>
            <fieldText>Explain why you had a gap in your Education ( leave blank if none )</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gap_documents</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload documents(medical or any other) related to your gap </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Family_Income</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Family Income Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Yearly_Family_Income</name>
            <choiceReferences>X1_2_Lakhs_upto_2_4_Lakhs_P_A</choiceReferences>
            <choiceReferences>X2_4_Lakhs_upto_5_Lakhs_P_A</choiceReferences>
            <choiceReferences>More_than_5_Lakhs_P_A</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Yearly Family Income</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_members_in_your_family</name>
            <choiceReferences>X3_5_people</choiceReferences>
            <choiceReferences>X5_7_people</choiceReferences>
            <choiceReferences>More_than_7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of members in your family</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Family_Income_Certificate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Family Income Certificate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Explain_in_your_own_words_why_you_want_this_Scholarship</name>
            <fieldText>Explain in your own words why you want this Scholarship</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_previous_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
