flows/Scholarship_Application_Form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Less_than_2_years</name>
        <choiceText>Less than 2 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 2 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_2_years</name>
        <choiceText>More than 2 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 2 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_5_Lakhs_P_A</name>
        <choiceText>More than 5 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 5 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Gap_Year</name>
        <choiceText>No Gap Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Gap Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_2_Lakhs_2_4_Lakhs_P_A</name>
        <choiceText>1.2 Lakhs - 2.4 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.2 Lakhs - 2.4 Lakhs P.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_4_Lakhs_5_Lakhs_P_A</name>
        <choiceText>2.4 Lakhs - 5 Lakhs P.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.4 Lakhs - 5 Lakhs P.A</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>has_this_person_already_submitted</name>
        <label>has this person already submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_for_each</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_each.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_or_Approved</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_each.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_each</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rejected_or_Approved</name>
        <label>Rejected or  Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>check_for_each.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Flow_Message</targetReference>
            </connector>
            <label>If not rejected</label>
        </rules>
        <rules>
            <name>If_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_each.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_each</targetReference>
            </connector>
            <label>If Rejected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Selection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <elementReference>no</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Accounts_Picklist</name>
        <collectionReference>get_all_personal_records</collectionReference>
        <dataType>String</dataType>
        <displayField>AccountId</displayField>
        <object>IndividualApplication</object>
        <valueField>AccountId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectAccount</name>
        <collectionReference>get_all_accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Scholarship Application Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scholarship Application Form</label>
    <loops>
        <name>check_for_each</name>
        <label>check for each</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_all_personal_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>has_this_person_already_submitted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Individual_Application</name>
        <label>Create Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppliedDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingRequestPurpose</field>
            <value>
                <elementReference>Your_response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gap_Year__c</field>
            <value>
                <elementReference>Gap_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <elementReference>University_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10__c</field>
            <value>
                <elementReference>X10th_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th_Pass_Year__c</field>
            <value>
                <elementReference>X10th_Passing_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Percentage__c</field>
            <value>
                <elementReference>X12th_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_passing_year__c</field>
            <value>
                <elementReference>X12th_Passing_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yearly_Family_Income__c</field>
            <value>
                <elementReference>Fmaily_Total_Annual_Income</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_all_accounts</name>
        <label>get all accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personal_Informstion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_personal_records</name>
        <label>get all personal records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Flow_Message</name>
        <label>Ending Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ending_message</name>
            <fieldText>&lt;p&gt;We already have an application with this Phone Number&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gap</name>
        <label>Gap</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Income</targetReference>
        </connector>
        <fields>
            <name>Gap_Year</name>
            <choiceReferences>No_Gap_Year</choiceReferences>
            <choiceReferences>Less_than_2_years</choiceReferences>
            <choiceReferences>More_than_2_years</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gap Year</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_gap_year</name>
            <fieldText>Reason for gap year(leave blank if none)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Income</name>
        <label>Income</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason</targetReference>
        </connector>
        <fields>
            <name>Fmaily_Total_Annual_Income</name>
            <choiceReferences>X1_2_Lakhs_2_4_Lakhs_P_A</choiceReferences>
            <choiceReferences>X2_4_Lakhs_5_Lakhs_P_A</choiceReferences>
            <choiceReferences>More_than_5_Lakhs_P_A</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Family Total Annual Income</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>MARKS</description>
        <name>Marks</name>
        <label>Marks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gap</targetReference>
        </connector>
        <fields>
            <name>Marksheet</name>
            <fieldText>&lt;p&gt;Submit your marksheet&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10th_Passing_Year</name>
            <dataType>String</dataType>
            <fieldText>10th Passing Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10th_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>10th Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Your 10th Percentage must be higher than 80 Percent to avail the scholarship&lt;/p&gt;</errorMessage>
                <formulaExpression>{!X10th_Percentage}&gt;80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>X12th_Passing_Year</name>
            <dataType>String</dataType>
            <fieldText>12th Passing Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X12th_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>12th Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Your 12th Percentage must be higher than 75% to avail this scholarship&lt;/p&gt;</errorMessage>
                <formulaExpression>{!X12th_Percentage}&gt;75</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload 10th Marksheet</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload 12th Marksheet</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Personal Information</description>
        <name>Personal_Informstion</name>
        <label>Personal Informations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_for_each</targetReference>
        </connector>
        <fields>
            <name>Personal_Information</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;Personal Information&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>7</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>5</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account</name>
            <choiceReferences>Account_Selection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>University_Name</name>
            <dataType>String</dataType>
            <fieldText>University Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason</name>
        <label>Reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Individual_Application</targetReference>
        </connector>
        <fields>
            <name>Reason_for_applying</name>
            <fieldText>&lt;h4 style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;Why do you need this Scholarship?&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Your_response</name>
            <fieldText>Your response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_personal_records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
