flows/SDO_Service_ASA_Create_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Products_Similar_to_itemToShip</name>
        <label>Find Products Similar to itemToShip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Product_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Product2</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BypassSharing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id, Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queries</name>
            <value>
                <elementReference>itemToShip</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereLimit</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>FlowFindCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>productCollection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If the order products contains batteries, then flag the order.</description>
        <name>Trigger_Order_Warning</name>
        <label>Trigger Order Warning?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderItem_Battery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOrder.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Batter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Order_Warning</targetReference>
            </connector>
            <label>OrderItem = Battery</label>
        </rules>
    </decisions>
    <description>Used in the Cirrus Agentforce Service Agent to create a new order.</description>
    <environments>Default</environments>
    <interviewLabel>SDO Service - ASA - Create Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - ASA - Create Order</label>
    <loops>
        <name>Loop_Product_Collection</name>
        <label>Loop Product Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_New_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Products_Similar_to_itemToShip</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEmailAddress</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>itemToShip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>shippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>shippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>shippingZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>shippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>shippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Item</name>
        <label>Create Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Order_Warning</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Grabbing the most recent case associated with the Contact.
Temp work around until I can figure out how to pass in the MesssagingSession Context Variable</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Attached_to_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Order</name>
        <label>Get New Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>newOrder</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>BillToContactId</queriedFields>
        <queriedFields>BillingEmailAddress</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Global Price Book*</description>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Product_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Product_Collection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Order_Warning</name>
        <label>Add Order Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Warning: Order contains lithium batteries</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Attached_to_Messaging_Session</name>
        <label>Update Case Attached to Messaging Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Restricted Shipment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemToShip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>productCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>shippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
