flows/SDO_Service_ASA_Get_Addresses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Addresses</name>
        <label>Assign Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>addressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formatBillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formatShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select the correct address or enter a new one.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Used in the Cirrus Agentforce Service Agent to get the address associated with a customer account.</description>
    <environments>Default</environments>
    <interviewLabel>SDO Service - ASA - Get Addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - ASA - Get Addresses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>formatBillingAddress</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.BillingStreet}, {!Get_Account.BillingCity}, {!Get_Account.BillingPostalCode}, {!Get_Account.BillingState}, {!Get_Account.BillingCountry}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>formatShippingAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Account.ShippingStreet}, {!Get_Account.ShippingCity}, {!Get_Account.ShippingPostalCode}, {!Get_Account.ShippingState}, {!Get_Account.ShippingCountry}</text>
    </textTemplates>
    <variables>
        <description>A list of addresses for the user to select from</description>
        <name>addressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the recommended next step for the user</description>
        <name>nextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
