flows/set_action_plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_if_there_are_previous_action_plan</name>
        <label>check if there are previous action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>create_relevant_action_plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_previous_action_plans</targetReference>
            </connector>
            <label>there is</label>
        </rules>
        <rules>
            <name>there_are_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_relevant_action_plan</targetReference>
            </connector>
            <label>there are not</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_color_code</name>
        <label>check the color code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.color_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>green</label>
        </rules>
        <rules>
            <name>orange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.color_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Records_1</targetReference>
            </connector>
            <label>orange</label>
        </rules>
        <rules>
            <name>red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.color_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Get_Records_1</targetReference>
            </connector>
            <label>red</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_if_there_are_previous_action_plan</name>
        <label>Copy 1 of check if there are previous action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_create_relevant_action_plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_delete_previous_action_plans</targetReference>
            </connector>
            <label>Copy 1 of there is</label>
        </rules>
        <rules>
            <name>Copy_1_of_there_are_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_create_relevant_action_plan</targetReference>
            </connector>
            <label>Copy 1 of there are not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_check_if_there_are_previous_action_plan</name>
        <label>Copy 1 of Copy 1 of check if there are previous action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_create_relevant_action_plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_delete_previous_action_plans</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of there is</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_there_are_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_get_existing_action_plan_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_create_relevant_action_plan</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of there are not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>set action plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>set action plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_create_relevant_action_plan</name>
        <label>Copy 1 of Copy 1 of create relevant action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_template_version.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.color_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_create_relevant_action_plan</name>
        <label>Copy 1 of create relevant action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Copy_1_of_template_version.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.color_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_relevant_action_plan</name>
        <label>create relevant action plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>template_version.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.color_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_delete_previous_action_plans</name>
        <label>Copy 1 of delete previous action plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_create_relevant_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ActionPlan</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_delete_previous_action_plans</name>
        <label>Copy 2 of delete previous action plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_create_relevant_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ActionPlan</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_previous_action_plans</name>
        <label>delete previous action plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_relevant_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ActionPlan</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_get_existing_action_plan_records</name>
        <label>Copy 1 of Copy 1 of get existing action plan records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_check_if_there_are_previous_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Get_Records_1</name>
        <label>Copy 1 of Copy 1 of Get Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_template_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship Red</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_template_version</name>
        <label>Copy 1 of Copy 1 of template version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_get_existing_action_plan_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Get_Records_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_existing_action_plan_records</name>
        <label>Copy 1 of get existing action plan records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_check_if_there_are_previous_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Records_1</name>
        <label>Copy 1 of Get Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_template_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship Amber</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_template_version</name>
        <label>Copy 1 of template version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_get_existing_action_plan_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Records_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_existing_action_plan_records</name>
        <label>get existing action plan records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_there_are_previous_action_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>template_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship Green</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>template_version</name>
        <label>template version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_existing_action_plan_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_the_color_code</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>color_code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
