flows/Update_Status_for_Individual_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckTheStatus</name>
        <label>CheckTheStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubmitForReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateIndividualStage</targetReference>
            </connector>
            <label>SubmitForReview</label>
        </rules>
        <rules>
            <name>SubmitForApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSubmitForApproval1</targetReference>
            </connector>
            <label>SubmitForApproval</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApproved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRejected1</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Status for Individual Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status for Individual Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetIndividualApplication</name>
        <label>GetIndividualApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTheStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproved</name>
        <label>UpdateApproved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>GetIndividualApplication.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Organisation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>GetIndividualApplication.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateIndividualStage</name>
        <label>UpdateIndividualStage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>GetIndividualApplication.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Organisation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>GetIndividualApplication.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted for Review</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRejected1</name>
        <label>UpdateRejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>GetIndividualApplication.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Organisation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>GetIndividualApplication.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSubmitForApproval1</name>
        <label>UpdateSubmitForApproval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>GetIndividualApplication.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Organisation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>GetIndividualApplication.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>GetIndividualApplication.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>GetIndividualApplication.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetIndividualApplication</targetReference>
        </connector>
        <object>ApplicationReview</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
