flows/Update_IA_Category_Upon_Submission.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_IA_Category</name>
        <label>Update IA Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Update_IA_Category_Automatically</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Check_if_categorized_correctly</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:IA</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Update_IA_Category_Automatically</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_categorized_correctly</name>
        <label>Check if categorized correctly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Record_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect Category</defaultConnectorLabel>
        <rules>
            <name>Correct_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_IA_Category.promptResponse</elementReference>
                </rightValue>
            </conditions>
            <label>Correct Category</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update IA Category Upon Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update IA Category Upon Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_Alert</name>
        <label>Create Record Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Possible miscategorization identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidUntilDate</field>
            <value>
                <dateTimeValue>2050-05-05T15:59:00.000Z</dateTimeValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RecordAlert</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_IA_Category</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descriptionBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This application is categorized as {!$Record.Category} by the applicant however our agent determined it should be categorized as {!Update_IA_Category.promptResponse}. &lt;/p&gt;</text>
    </textTemplates>
</Flow>
