flows/Volunteer_Guest_User_Sign_Up.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This sets all the values for the JPA that represents the volunteer&apos;s registration.</description>
        <name>Assign_for_Job_Position_Assignment</name>
        <label>Assign for Job Position Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.AssignedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.AssignedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.JobPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_JobPosition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.AssignedPositionShiftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Job_Position_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Job_Position_Shift.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.ScheduledStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ScheduledStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobPositionAssignment.ScheduledEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ScheduledEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Position_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This maps the Contact fields in the screen flow to account for that they wouldn&apos;t update on the Account natively as of the Spring 25 release.</description>
        <name>Set_Up_Person_Account</name>
        <label>Set Up Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Person_Account_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Account</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>This decision checks the collection variable above and if it is empty. This is used by the next screen to conditionally hide the shift question if empty. A decision is used instead of a formula to make debugging easier.</description>
        <name>Find_Job_Position_Shifts</name>
        <label>Find Job Position Shifts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Sign_Up_to_Volunteer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Shifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shifts_Based_on_Job_Position_Choice</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sign_Up_to_Volunteer</targetReference>
            </connector>
            <label>Yes Found Shifts</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if an account was found at the very beginning of the flow</description>
        <name>Found_Account</name>
        <label>Found Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_Person_Account_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Account</targetReference>
            </connector>
            <label>Yes Found Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to make sure recordId is populated</description>
        <name>recordId_is_populated</name>
        <label>recordId is populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_recordId_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Position_Shift</targetReference>
            </connector>
            <label>Yes recordId is populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision determines that since the record ID was a Volunteer Initiative and also checks to see that the Volunteer Initiative has more than Job Position.

If an Initiative only has one Job Position it is assumed you would use that Job Position as the recordId to begin this flow.</description>
        <name>Select_Job_Position_First</name>
        <label>Select Job Position First?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Sign_Up_to_Volunteer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Position.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Positions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_job_postion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is created to enable a volunteer to sign up as a guest user for either a Volunteer Initiative, Job Position, or a Job Position Shift for an event driven volunteer activity.</description>
    <dynamicChoiceSets>
        <name>ccs_JobPostionShifts</name>
        <collectionReference>Get_Shifts_Based_on_Job_Position_Choice</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_JobPosition</name>
        <dataType>String</dataType>
        <displayField>Title</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VolunteerInitiativeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>JobPosition</object>
        <outputAssignments>
            <assignToReference>var_JobPositionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Title</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_JobPostionShifts</name>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Position.Id</elementReference>
            </value>
        </filters>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_JobPosition</name>
        <dataType>String</dataType>
        <expression>IF({!Yes}=TRUE,{!var_JobPositionID},{!Get_Job_Position.Id})</expression>
    </formulas>
    <formulas>
        <name>f_ScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Selected_Job_Position_Shift.EndDate})
+ &quot; &quot;
+ LEFT(TEXT({!Get_Selected_Job_Position_Shift.EndTime}),8))</expression>
    </formulas>
    <formulas>
        <name>f_ScheduledStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Selected_Job_Position_Shift.StartDate})
+ &quot; &quot;
+ LEFT(TEXT({!Get_Selected_Job_Position_Shift.StartTime}),8))</expression>
    </formulas>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Volunteer Guest User Sign Up {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Volunteer Guest User Sign Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Position_Assignment</name>
        <label>Create Job Position Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>JobPositionAssignment</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Any changes are added to the account or a new account is created.</description>
        <name>Upsert_Account</name>
        <label>Upsert Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Selected_Job_Position_Shift</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Get_Account</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This is used to help establish that the new account should be a person account.</description>
        <name>Find_Person_Account_Record_Type_ID</name>
        <label>Find Person Account Record Type ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Then we lookup the Account record. It assumes that we are only looking up Person Account. This checkbox also prevents Business Accounts from being returned that have null values for these fields. 

We are using record fields in the screens, that means that all information will be pre-populated. Personal information is not being exposed simply based on email address as a security best practice, you need at least first name as well.

Adding personal information to these screens and pre-populating them increase risks of individual personal information being exposed.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 3)) AND 4 and 5</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fname</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are grabbing the Contact Record ID and its values associated with the Person Account in the previous step. The name field in screen flow is using this Contact record. (The email record field is using the Account record). 

This record is not updated, all fields from this record are mapped back to the Account record instead since Person Account Name record fields are not supported in flow as of this release (Spring &apos;25).</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Positions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The flow then uses the JPS record found in the first step OR the recordId variable.</description>
        <name>Get_Job_Position</name>
        <label>Get Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Initiative</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.JobPositionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This flow begins by checking what type of record Id is being passed from the page or the URL parameter, it starts with Job Position Shift.</description>
        <name>Get_Job_Position_Shift</name>
        <label>Get Job Position Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is used to help determine if the Volunteer Initiative has multiple positions or not.</description>
        <name>Get_Job_Positions</name>
        <label>Get Job Positions Related to Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Job_Position_First</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VolunteerInitiativeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPosition</object>
        <sortField>Title</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This record identifies the shift that should be associated with the Job Position Assignment (if any).</description>
        <name>Get_Selected_Job_Position_Shift</name>
        <label>Get Selected Job Position Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_for_Job_Position_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>job_position_shifts_radio_button_static</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>job_position_shifts_radio_button_dynamic</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>For the selected Job Position this pulls all Job Position Shifts that are greater than today and have a status of Upcoming.</description>
        <name>Get_Shifts_Based_on_Job_Position_Choice</name>
        <label>Get Shifts Based on Job Position Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Job_Position_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>job_postion_radio_button</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The flow then uses the JP record found in the first step OR the recordId variable.</description>
        <name>Get_Volunteer_Initiative</name>
        <label>Get Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Position.VolunteerInitiative.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerInitiative</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsPublished</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This screen uses the Title field on Job Position to present the different options underneath the Volunteer Initiative.

This is filtered by the Job Position Status in the Record Choice Set.</description>
        <name>Choose_job_postion</name>
        <label>How you would like to help?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Shifts_Based_on_Job_Position_Choice</targetReference>
        </connector>
        <fields>
            <name>job_postion_radio_button</name>
            <choiceReferences>rcs_JobPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Position.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;The volunteer activity is no longer available. Please contact the organization to get an updated link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Personal information is kept to a minimum because this is a guest user flow. Adding information here increases the risk of personal information being exposed.</description>
        <name>Sign_Up_to_Volunteer</name>
        <label>Sign Up to Volunteer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <fields>
            <name>job_position_shifts_radio_button_static</name>
            <choiceReferences>rcs_JobPostionShifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When would you like to help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Position_Shift.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Position.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>job_position_shifts_radio_button_dynamic</name>
            <choiceReferences>ccs_JobPostionShifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When would you like to help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Position.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yes_Found_Shifts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Name</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Account.PersonEmail</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Sign Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recordId_is_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobPositionAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>lname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobPositionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
